.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 32px;
}

.in {
  background: #5CB85C;
  color: #fff;
  padding: 0px 16px;
  margin-right: 8px;
}

.brand {
  font-size: 84px;
  font-weight: bold;
  color: #333333;
}

.captionBox {
  margin-top: 16px;
}

.caption {
  font-size: 28px;
  color: #888888;
  text-align: center;
}

.caption1 {
  font-size: 24px;
  color: #888888;
  text-align: center;
  margin-top: 8px;
}