.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.in {
  background: #5CB85C;
  color: #fff;
  padding: 0px 16px;
  margin-right: 8px;
}

.brand {
  font-size: 84px;
  font-weight: bold;
  color: #333333;
}

.caption {
  font-size: 36px;
  color: #888888;
  margin-top: 8px;
}